version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "4"

services:
  proxy:
    image: nginx:1-alpine
    ports:
      - "80:1236"
      - "443:443"
      - "1236:1236"
      - "8536:8536"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx.conf.d/:/etc/nginx/conf.d/:ro
      - /opt/app/certbot/www/:/var/www/certbot/:ro
      - /opt/app/matrix/:/var/www/matrix:ro
      - /opt/app/certbot/conf/:/etc/nginx/ssl/:ro
      - /opt/app/static/:/opt/app/static/:ro
      - /opt/app/nginx-error.log:/log/nginx-error.log:rw
    restart: always
    depends_on:
      - pictrs
      - lemmy-ui
    logging: *default-logging

  certbot:
    image: certbot/certbot:latest
    volumes:
      - /opt/app/certbot/www/:/var/www/certbot/:rw
      - /opt/app/certbot/conf/:/etc/letsencrypt/:rw

  lemmy:
    # image: dessalines/lemmy:dev
    # use this to build your local lemmy server image for development
    # run docker compose up --build
    build:
      context: ../../
      dockerfile: docker/Dockerfile
      args:
        RUST_RELEASE_MODE: release
    # this hostname is used in nginx reverse proxy and also for lemmy ui to connect to the backend, do not change
    hostname: lemmy
    ports:
      # prometheus metrics available at the path /metrics on port 10002 by default
      # enable prometheus metrics by setting the CARGO_BUILD_FEATURES build arg above to "prometheus-metrics"
      - "10002:10002"
    restart: always
    environment:
      - RUST_LOG="info,lemmy_server=info,lemmy_api=info,lemmy_api_common=info,lemmy_api_crud=info,lemmy_apub=info,lemmy_db_schema=info,lemmy_db_views=info,lemmy_db_views_actor=info,lemmy_db_views_moderator=info,lemmy_routes=info,lemmy_utils=info,lemmy_websocket=info"
      - RUST_BACKTRACE=full
    volumes:
      - ./lemmy.hjson:/config/config.hjson
    depends_on:
      - pictrs
    logging: *default-logging

  lemmy-ui:
    # image: dessalines/lemmy-ui:0.17.1
    # use this to build your local lemmy ui image for development
    # run docker compose up --build
    # assuming lemmy-ui is cloned besides lemmy directory
    build:
     context: ../../../lemmy-ui
     dockerfile: Dockerfile
    environment:
      # this needs to match the hostname defined in the lemmy service
      - LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy:8536
      # set the outside hostname here
      - LEMMY_UI_LEMMY_EXTERNAL_HOST=hexbear.net:443
      - LEMMY_UI_HTTPS=true
      - LEMMY_UI_DEBUG=false
      - NODE_ENV=production
    depends_on:
      - lemmy
    restart: always
    logging: *default-logging
    init: true

  pictrs:
    image: asonix/pictrs:0.4.2
    # this needs to match the pictrs url in lemmy.hjson
    hostname: pictrs
    environment:
      - PICTRS_OPENTELEMETRY_URL=http://otel:4137
      - PICTRS__TRACING__LOGGING__TARGETS=warn
      - RUST_BACKTRACE=full
      - PICTRS__MEDIA__VIDEO_CODEC=vp9
      - PICTRS__MEDIA__GIF__MAX_WIDTH=512
      - PICTRS__MEDIA__GIF__MAX_HEIGHT=512
      - PICTRS__MEDIA__GIF__MAX_AREA=262144
      - PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=8000
    user: 991:991
    volumes:
      - ../../../pictrs:/mnt
    restart: always
    logging: *default-logging