version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "4"

services:
  proxy:
    image: nginx:1-alpine
    ports:
      - "1236:1236"
      - "8536:8536"
      - "3000:3000"
    volumes:
      - ./nginx.internal.conf:/etc/nginx/nginx.conf:ro
        #      - ./nginx.conf.d/:/etc/nginx/conf.d/:ro
        #      - /opt/app/certbot/www/:/var/www/certbot/:ro
        #      - /opt/app/matrix/:/var/www/matrix:ro
        #      - /opt/app/certbot/conf/:/etc/nginx/ssl/:ro
        #      - /opt/app/static/:/opt/app/static#/:ro
        #
      - /opt/app/nginx-error.log:/log/nginx-error.log:rw
    restart: always
    hostname: proxy
    depends_on:
      - pictrs
      - lemmy-ui
    logging: *default-logging

  certbot:
    image: certbot/certbot:latest
    hostname: certbot
    volumes:
      - /opt/app/certbot/www/:/var/www/certbot/:rw
      - /opt/app/certbot/conf/:/etc/letsencrypt/:rw

  lemmy:
    build:
      context: ../../
      dockerfile: docker/Dockerfile
      args:
        RUST_RELEASE_MODE: release
    # this hostname is used in nginx reverse proxy and also for lemmy ui to connect to the backend, do not change
    hostname: lemmy
    ports:
      # prometheus metrics available at the path /metrics on port 10002 by default
      # enable prometheus metrics by setting the CARGO_BUILD_FEATURES build arg above to "prometheus-metrics"
      - "10002:10002"
    restart: always
    environment:
      - RUST_LOG="info,lemmy_server=info,lemmy_api=info,lemmy_api_common=info,lemmy_api_crud=info,lemmy_apub=info,lemmy_db_schema=info,lemmy_db_views=info,lemmy_db_views_actor=info,lemmy_db_views_moderator=info,lemmy_routes=info,lemmy_utils=info,lemmy_websocket=info"
      - RUST_BACKTRACE=full
    volumes:
      - ./lemmy.hjson:/config/config.hjson
    depends_on:
      - pictrs
    logging: *default-logging


  lemmy-ui:
    build:
     context: ../../../lemmy-ui
     dockerfile: Dockerfile
    environment:
      # this needs to match the hostname defined in the lemmy service
      - LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy:8536
      # set the outside hostname here
      - LEMMY_UI_LEMMY_EXTERNAL_HOST=hexbear.net:443
      - LEMMY_UI_HTTPS=true
      - LEMMY_UI_DEBUG=false
      - NODE_ENV=production
    depends_on:
      - lemmy
    hostname: lemmy-ui
    restart: always
    logging: *default-logging
    init: true
    deploy:
      replicas: 3
  pictrs:
    image: asonix/pictrs:0.5.16
    # this needs to match the pictrs url in lemmy.hjson
    hostname: pictrs
    environment:
      - PICTRS_OPENTELEMETRY_URL=http://otel:4137
      - PICTRS__TRACING__LOGGING__TARGETS=info
      - RUST_BACKTRACE=full
      - PICTRS__MEDIA__VIDEO_CODEC=vp9
      - PICTRS__MEDIA__GIF__MAX_WIDTH=512
      - PICTRS__MEDIA__GIF__MAX_HEIGHT=512
      - PICTRS__MEDIA__GIF__MAX_AREA=262144
      - PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=8000
      - PICTRS__MEDIA__ANIMATION__MAX_WIDTH=512
      - PICTRS__MEDIA__ANIMATION__MAX_HEIGHT=512
      - PICTRS__MEDIA__ANIMATION__MAX_AREA=262144
      - PICTRS__MEDIA__ANIMATION__MAX_FRAME_COUNT=8000
      - PICTRS__UPGRADE__CONCURRENCY=512
    user: 991:991
    volumes:
      - ../../../pictrs:/mnt
    restart: always
    logging: *default-logging
  lemmy-ui-next:
    build:
     context: ../../../lemmy-ui-next
     dockerfile: Dockerfile
    environment:
      - LEMMY_BACKEND=http://lemmy:8536
      - LEMMY_UI_NEXT_PUBLIC_URL=https://testnext.hexbear.net
    depends_on:
      - lemmy
    hostname: lemmy-ui-next
    restart: always
    logging: *default-logging
    init: true
